.main {
  padding: 50px;
  display: grid;
  /*grid-template-columns: 50% 50%*/
}

.grid {
  display: grid;
  grid-template-columns: 50% 50%;
}

.left {
  grid-column: 1;
  grid-row: 1;
}

.right {
  grid-column: 2;
  grid-row: 1;
}

.imog {
  height : auto;
  max-width: 100%;
}
